<li class="list-group-item border-0" style="background-color: transparent">
    <div class="card border-0" style="background-color:#a64dff ; width: 35rem;">
        <div class="card border-0" style="background-color: #f2e6ff; width: 35rem;">

            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ item }}</h6>
                <p class="card-text">{{ item.description }}</p>
                <h6 class="card-subtitle mb-2 text-muted">cos wpisac</h6>
                <a href="#" class="card-link">Edit task</a>
            </div>
        </div>
    </div>