<li class="list-group-item border-0" style="background-color: transparent">
    {% if event.is_approaching_or_past.0 == 'Already past' %}
        <div class="card border-0" style="opacity: 0.2; width: 35rem;">
    {% else %}
        <div class="card border-0" style="background-color: #BF79DB; width: 35rem;">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ item.show_event_dates }}
            <span class="badge badge-pill badge-primary">{{ item.is_approaching_or_past.0 }}</span>
        </h6>
        <p class="card-text">{{ item.description }}</p>
    <div>
        {% for tag in item.tags.all %}
            <span class="badge rounded-pill" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
        {% endfor %}
    </div>
        <a href="{% url 'update_event' item.pk %}" class="btn btn-primary">Edit event</a>
        <a href="{% url 'delete_event' item.pk %}" class="btn btn-danger">Delete event</a>
    </div>
    </div>
