{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <h5>Manage your tags: </h5>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input type="submit" style="background-color: lightpink" value="Submit">
    </form>
    <br>
        {% for tag in tags %}
            <div class="card w-30">
                <div class="card-body" style="background-color: {{ tag.color }}">
                    <h5 class="card-title">{{ tag.name }}</h5>
                    <a href="{% url 'update_tag' tag.pk %}" class="btn btn-primary">Edit tag</a>
                    <a href="{% url 'delete_tag' tag.pk %}" class="btn btn-primary">Delete tag</a>
                    {% if message == 'delete' %}
                        <form method="post"> {% csrf_token %}
                            {% if tag.id == tag_pk %}
                                <input type="submit" value="Confirm delete" class="btn btn-danger">
                                </form>
                            {% endif %}
                    {% endif %}
                </div>
            </div>
            <br>
        {% endfor %}

{% endblock %}