{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input type="submit" style="background-color: lightpink" value="Submit">
    </form>

<form method="post"> {% csrf_token %}
    <ul class="list-group">

        {% for tag in tags %}
            <div class="card w-30">
                <div class="card-body" style="background-color: {{ tag.color }}">
                    <h5 class="card-title">{{ tag.name }}</h5>
                    <p class="card-text" href="#"> tutaj eventy polaczne z tagami</p>
                    <a href="{% url 'update_tag' tag.pk %}" class="btn btn-primary">Edit tag</a>
                    <a href="{% url 'delete_tag' tag.pk %}" class="btn btn-primary">delete_tag</a>
                    {% if message == 'delete' %}
                        <input type="submit" value="confirm delete">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </ul>
</form>
{% endblock %}