{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <h3>Today's planner</h3>
    <p> {{ todays_date }}</p>
    <h3> It's {{ current_time }} and this is your to-do list: </h3>
    {% for item in items %}
        {% if item.class_id == 'task' %}
            {% include 'task_card.html' %}
        {% endif %}
        {% if item.class_id == 'event' %}
            {% include 'event_card.html' %}
        {% endif %}
        {% if item.class_id == 'journal' %}
            {% include 'journal.html' %}
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}