{% load static %}
{% include 'header.html' %}
<body style="background-image: url({% static 'pictures/background.jpg' %});background-repeat: no-repeat; background-size: 1498px 999px; background-color: #BF79DB">
{% include 'top_navbar.html' %}
<br>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6 " style="background-color: rgba(255,255, 255,0.5)">
            <div class="m-3">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<script src="{% static 'bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
