<nav class="navbar sticky-top navbar navbar-expand-lg" style="background-color: #894A7F">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'example' %}">Planner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_task' %}">Add tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'show_all_tasks' %}">Show all tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manageevents' %}">Manage events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'daily_planner' %}">Daily planner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manage_tags' %}">manage tags</a>
                </li>
            </ul>
        </div>
    </div>
</nav>